<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mr</key>
	<string>Marathi</string>
	<key>bs</key>
	<string>Bosnian</string>
	<key>ee_TG</key>
	<string>Ewe (Togo)</string>
	<key>ms</key>
	<string>Malay</string>
	<key>kam_KE</key>
	<string>Kamba (Kenya)</string>
	<key>mt</key>
    <string>Maltese</string>
    <key>ha</key>
    <string>Hausa</string>
    <key>es_HN</key>
    <string>Spanish (Honduras)</string>
    <key>ml_IN</key>
    <string>Malayalam (India)</string>
    <key>ro_MD</key>
    <string>Romanian (Moldova)</string>
    <key>kab_DZ</key>
    <string>Kabyle (Algeria)</string>
    <key>he</key>
    <string>Hebrew</string>
    <key>es_CO</key>
    <string>Spanish (Colombia)</string>
    <key>my</key>
    <string>Burmese</string>
    <key>es_PA</key>
    <string>Spanish (Panama)</string>
    <key>az_Latn</key>
    <string>Azerbaijani (Latin)</string>
    <key>mer</key>
    <string>Meru</string>
    <key>en_NZ</key>
    <string>English (New Zealand)</string>
    <key>xog_UG</key>
    <string>Soga (Uganda)</string>
    <key>sg</key>
    <string>Sango</string>
    <key>fr_GP</key>
    <string>French (Guadeloupe)</string>
    <key>sr_Cyrl_BA</key>
    <string>Serbian (Cyrillic, Bosnia and Herzegovina)</string>
    <key>hi</key>
    <string>Hindi</string>
    <key>fil_PH</key>
    <string>Filipino (Philippines)</string>
    <key>lt_LT</key>
    <string>Lithuanian (Lithuania)</string>
    <key>si</key>
    <string>Sinhala</string>
    <key>en_MT</key>
    <string>English (Malta)</string>
    <key>si_LK</key>
    <string>Sinhala (Sri Lanka)</string>
    <key>luo_KE</key>
    <string>Luo (Kenya)</string>
    <key>it_CH</key>
    <string>Italian (Switzerland)</string>
    <key>teo</key>
    <string>Teso</string>
    <key>mfe</key>
    <string>Morisyen</string>
    <key>sk</key>
    <string>Slovak</string>
    <key>uz_Cyrl_UZ</key>
    <string>Uzbek (Cyrillic, Uzbekistan)</string>
    <key>sl</key>
    <string>Slovenian</string>
    <key>rm_CH</key>
    <string>Romansh (Switzerland)</string>
    <key>az_Cyrl_AZ</key>
    <string>Azerbaijani (Cyrillic, Azerbaijan)</string>
    <key>fr_GQ</key>
    <string>French (Equatorial Guinea)</string>
    <key>kde</key>
    <string>Makonde</string>
    <key>sn</key>
    <string>Shona</string>
    <key>cgg_UG</key>
    <string>Chiga (Uganda)</string>
    <key>so</key>
    <string>Somali</string>
    <key>fr_RW</key>
    <string>French (Rwanda)</string>
    <key>es_SV</key>
    <string>Spanish (El Salvador)</string>
    <key>mas_TZ</key>
    <string>Masai (Tanzania)</string>
    <key>en_MU</key>
    <string>English (Mauritius)</string>
    <key>sq</key>
    <string>Albanian</string>
    <key>hr</key>
    <string>Croatian</string>
    <key>sr</key>
    <string>Serbian</string>
    <key>en_PH</key>
    <string>English (Philippines)</string>
    <key>ca</key>
    <string>Catalan</string>
    <key>hu</key>
    <string>Hungarian</string>
    <key>mk_MK</key>
    <string>Macedonian (Macedonia)</string>
    <key>fr_TD</key>
    <string>French (Chad)</string>
    <key>nb</key>
    <string>Norwegian Bokmål</string>
    <key>sv</key>
    <string>Swedish</string>
    <key>kln_KE</key>
    <string>Kalenjin (Kenya)</string>
    <key>sw</key>
    <string>Swahili</string>
    <key>nd</key>
    <string>North Ndebele</string>
    <key>sr_Latn</key>
    <string>Serbian (Latin)</string>
    <key>el_GR</key>
    <string>Greek (Greece)</string>
    <key>hy</key>
    <string>Armenian</string>
    <key>ne</key>
    <string>Nepali</string>
    <key>el_CY</key>
    <string>Greek (Cyprus)</string>
    <key>es_CR</key>
    <string>Spanish (Costa Rica)</string>
    <key>fo_FO</key>
    <string>Faroese (Faroe Islands)</string>
    <key>pa_Arab_PK</key>
    <string>Punjabi (Arabic, Pakistan)</string>
    <key>seh</key>
    <string>Sena</string>
    <key>ar_YE</key>
    <string>Arabic (Yemen)</string>
    <key>ja_JP</key>
    <string>Japanese (Japan)</string>
    <key>ur_PK</key>
    <string>Urdu (Pakistan)</string>
    <key>pa_Guru</key>
    <string>Punjabi (Gurmukhi)</string>
    <key>gl_ES</key>
    <string>Galician (Spain)</string>
    <key>zh_Hant_HK</key>
    <string>Chinese (Traditional Han, Hong Kong SAR China)</string>
    <key>ar_EG</key>
    <string>Arabic (Egypt)</string>
    <key>nl</key>
    <string>Dutch</string>
    <key>th_TH</key>
    <string>Thai (Thailand)</string>
    <key>es_PE</key>
    <string>Spanish (Peru)</string>
    <key>fr_KM</key>
    <string>French (Comoros)</string>
    <key>nn</key>
    <string>Norwegian Nynorsk</string>
    <key>kk_Cyrl_KZ</key>
    <string>Kazakh (Cyrillic, Kazakhstan)</string>
    <key>kea</key>
    <string>Kabuverdianu</string>
    <key>lv_LV</key>
    <string>Latvian (Latvia)</string>
    <key>kln</key>
    <string>Kalenjin</string>
    <key>tzm_Latn</key>
    <string>Central Morocco Tamazight (Latin)</string>
    <key>yo</key>
    <string>Yoruba</string>
    <key>gsw_CH</key>
    <string>Swiss German (Switzerland)</string>
    <key>ha_Latn_GH</key>
    <string>Hausa (Latin, Ghana)</string>
    <key>is_IS</key>
    <string>Icelandic (Iceland)</string>
    <key>pt_BR</key>
    <string>Portuguese (Brazil)</string>
    <key>cs</key>
    <string>Czech</string>
    <key>en_PK</key>
    <string>English (Pakistan)</string>
    <key>fa_IR</key>
    <string>Persian (Iran)</string>
    <key>zh_Hans_SG</key>
    <string>Chinese (Simplified Han, Singapore)</string>
    <key>luo</key>
    <string>Luo</string>
    <key>ta</key>
    <string>Tamil</string>
    <key>fr_TG</key>
    <string>French (Togo)</string>
    <key>kde_TZ</key>
    <string>Makonde (Tanzania)</string>
    <key>mr_IN</key>
    <string>Marathi (India)</string>
    <key>ar_SA</key>
    <string>Arabic (Saudi Arabia)</string>
    <key>ka_GE</key>
    <string>Georgian (Georgia)</string>
    <key>mfe_MU</key>
    <string>Morisyen (Mauritius)</string>
    <key>id</key>
    <string>Indonesian</string>
    <key>fr_LU</key>
    <string>French (Luxembourg)</string>
    <key>de_LU</key>
    <string>German (Luxembourg)</string>
    <key>ru_MD</key>
    <string>Russian (Moldova)</string>
    <key>cy</key>
    <string>Welsh</string>
    <key>zh_Hans_HK</key>
    <string>Chinese (Simplified Han, Hong Kong SAR China)</string>
    <key>te</key>
    <string>Telugu</string>
    <key>bg_BG</key>
    <string>Bulgarian (Bulgaria)</string>
    <key>shi_Latn</key>
    <string>Tachelhit (Latin)</string>
    <key>ig</key>
    <string>Igbo</string>
    <key>ses</key>
    <string>Koyraboro Senni</string>
    <key>ii</key>
    <string>Sichuan Yi</string>
    <key>es_BO</key>
    <string>Spanish (Bolivia)</string>
    <key>th</key>
    <string>Thai</string>
    <key>ko_KR</key>
    <string>Korean (South Korea)</string>
    <key>ti</key>
    <string>Tigrinya</string>
    <key>it_IT</key>
    <string>Italian (Italy)</string>
    <key>shi_Latn_MA</key>
    <string>Tachelhit (Latin, Morocco)</string>
    <key>pt_MZ</key>
    <string>Portuguese (Mozambique)</string>
    <key>ff_SN</key>
    <string>Fulah (Senegal)</string>
    <key>haw</key>
    <string>Hawaiian</string>
    <key>zh_Hans</key>
    <string>Chinese (Simplified Han)</string>
    <key>so_KE</key>
    <string>Somali (Kenya)</string>
    <key>bn_IN</key>
    <string>Bengali (India)</string>
    <key>en_UM</key>
    <string>English (U.S. Minor Outlying Islands)</string>
    <key>to</key>
    <string>Tonga</string>
    <key>id_ID</key>
    <string>Indonesian (Indonesia)</string>
    <key>uz_Cyrl</key>
    <string>Uzbek (Cyrillic)</string>
    <key>en_GU</key>
    <string>English (Guam)</string>
    <key>es_EC</key>
    <string>Spanish (Ecuador)</string>
    <key>en_US_POSIX</key>
    <string>English (United States, Computer)</string>
    <key>sr_Latn_BA</key>
    <string>Serbian (Latin, Bosnia and Herzegovina)</string>
    <key>is</key>
    <string>Icelandic</string>
    <key>luy</key>
    <string>Luyia</string>
    <key>tr</key>
    <string>Turkish</string>
    <key>en_NA</key>
    <string>English (Namibia)</string>
    <key>it</key>
    <string>Italian</string>
    <key>da</key>
    <string>Danish</string>
    <key>bo_IN</key>
    <string>Tibetan (India)</string>
    <key>vun_TZ</key>
    <string>Vunjo (Tanzania)</string>
    <key>ar_SD</key>
    <string>Arabic (Sudan)</string>
    <key>uz_Latn_UZ</key>
    <string>Uzbek (Latin, Uzbekistan)</string>
    <key>az_Latn_AZ</key>
    <string>Azerbaijani (Latin, Azerbaijan)</string>
    <key>de</key>
    <string>German</string>
    <key>es_GQ</key>
    <string>Spanish (Equatorial Guinea)</string>
    <key>ta_IN</key>
    <string>Tamil (India)</string>
    <key>de_DE</key>
    <string>German (Germany)</string>
    <key>fr_FR</key>
    <string>French (France)</string>
    <key>rof_TZ</key>
    <string>Rombo (Tanzania)</string>
    <key>ar_LY</key>
    <string>Arabic (Libya)</string>
    <key>en_BW</key>
    <string>English (Botswana)</string>
    <key>asa</key>
    <string>Asu</string>
    <key>zh</key>
    <string>Chinese</string>
    <key>ha_Latn</key>
    <string>Hausa (Latin)</string>
    <key>fr_NE</key>
    <string>French (Niger)</string>
    <key>es_MX</key>
    <string>Spanish (Mexico)</string>
    <key>bem_ZM</key>
    <string>Bemba (Zambia)</string>
    <key>zh_Hans_CN</key>
    <string>Chinese (Simplified Han, China)</string>
    <key>bn_BD</key>
    <string>Bengali (Bangladesh)</string>
    <key>pt_GW</key>
    <string>Portuguese (Guinea-Bissau)</string>
    <key>om</key>
    <string>Oromo</string>
    <key>jmc</key>
    <string>Machame</string>
    <key>de_AT</key>
    <string>German (Austria)</string>
    <key>kk_Cyrl</key>
    <string>Kazakh (Cyrillic)</string>
    <key>sw_TZ</key>
    <string>Swahili (Tanzania)</string>
    <key>ar_OM</key>
    <string>Arabic (Oman)</string>
    <key>et_EE</key>
    <string>Estonian (Estonia)</string>
    <key>or</key>
    <string>Oriya</string>
    <key>da_DK</key>
    <string>Danish (Denmark)</string>
    <key>ro_RO</key>
    <string>Romanian (Romania)</string>
    <key>zh_Hant</key>
    <string>Chinese (Traditional Han)</string>
    <key>bm_ML</key>
    <string>Bambara (Mali)</string>
    <key>ja</key>
    <string>Japanese</string>
    <key>fr_CA</key>
    <string>French (Canada)</string>
    <key>naq</key>
    <string>Nama</string>
    <key>zu</key>
    <string>Zulu</string>
    <key>en_IE</key>
    <string>English (Ireland)</string>
    <key>ar_MA</key>
    <string>Arabic (Morocco)</string>
    <key>es_GT</key>
    <string>Spanish (Guatemala)</string>
    <key>uz_Arab_AF</key>
    <string>Uzbek (Arabic, Afghanistan)</string>
    <key>en_AS</key>
    <string>English (American Samoa)</string>
    <key>bs_BA</key>
    <string>Bosnian (Bosnia and Herzegovina)</string>
    <key>am_ET</key>
    <string>Amharic (Ethiopia)</string>
    <key>ar_TN</key>
    <string>Arabic (Tunisia)</string>
    <key>haw_US</key>
    <string>Hawaiian (United States)</string>
    <key>ar_JO</key>
    <string>Arabic (Jordan)</string>
    <key>fa_AF</key>
    <string>Persian (Afghanistan)</string>
    <key>uz_Latn</key>
    <string>Uzbek (Latin)</string>
    <key>en_BZ</key>
    <string>English (Belize)</string>
    <key>nyn_UG</key>
    <string>Nyankole (Uganda)</string>
    <key>ebu_KE</key>
    <string>Embu (Kenya)</string>
    <key>te_IN</key>
    <string>Telugu (India)</string>
    <key>cy_GB</key>
    <string>Welsh (United Kingdom)</string>
    <key>uk</key>
    <string>Ukrainian</string>
    <key>nyn</key>
    <string>Nyankole</string>
    <key>en_JM</key>
    <string>English (Jamaica)</string>
    <key>en_US</key>
    <string>English (United States)</string>
    <key>fil</key>
    <string>Filipino</string>
    <key>ar_KW</key>
    <string>Arabic (Kuwait)</string>
    <key>af_ZA</key>
    <string>Afrikaans (South Africa)</string>
    <key>en_CA</key>
    <string>English (Canada)</string>
    <key>fr_DJ</key>
    <string>French (Djibouti)</string>
    <key>ti_ER</key>
    <string>Tigrinya (Eritrea)</string>
    <key>ig_NG</key>
    <string>Igbo (Nigeria)</string>
    <key>en_AU</key>
    <string>English (Australia)</string>
    <key>ur</key>
    <string>Urdu</string>
    <key>fr_MC</key>
    <string>French (Monaco)</string>
    <key>pt_PT</key>
    <string>Portuguese (Portugal)</string>
    <key>pa</key>
    <string>Punjabi</string>
    <key>es_419</key>
    <string>Spanish (Latin America)</string>
    <key>fr_CD</key>
    <string>French (Congo - Kinshasa)</string>
    <key>en_SG</key>
    <string>English (Singapore)</string>
    <key>bo_CN</key>
    <string>Tibetan (China)</string>
    <key>kn_IN</key>
    <string>Kannada (India)</string>
    <key>sr_Cyrl_RS</key>
    <string>Serbian (Cyrillic, Serbia)</string>
    <key>lg_UG</key>
    <string>Ganda (Uganda)</string>
    <key>gu_IN</key>
    <string>Gujarati (India)</string>
    <key>ee</key>
    <string>Ewe</string>
    <key>nd_ZW</key>
    <string>North Ndebele (Zimbabwe)</string>
    <key>bem</key>
    <string>Bemba</string>
    <key>uz</key>
    <string>Uzbek</string>
    <key>sw_KE</key>
    <string>Swahili (Kenya)</string>
    <key>sq_AL</key>
    <string>Albanian (Albania)</string>
    <key>hr_HR</key>
    <string>Croatian (Croatia)</string>
    <key>mas_KE</key>
    <string>Masai (Kenya)</string>
    <key>el</key>
    <string>Greek</string>
    <key>ti_ET</key>
    <string>Tigrinya (Ethiopia)</string>
    <key>es_AR</key>
    <string>Spanish (Argentina)</string>
    <key>pl</key>
    <string>Polish</string>
    <key>en</key>
    <string>English</string>
    <key>eo</key>
    <string>Esperanto</string>
    <key>shi</key>
    <string>Tachelhit</string>
    <key>kok</key>
    <string>Konkani</string>
    <key>fr_CF</key>
    <string>French (Central African Republic)</string>
    <key>fr_RE</key>
    <string>French (Réunion)</string>
    <key>mas</key>
    <string>Masai</string>
    <key>rof</key>
    <string>Rombo</string>
    <key>ru_UA</key>
    <string>Russian (Ukraine)</string>
    <key>yo_NG</key>
    <string>Yoruba (Nigeria)</string>
    <key>dav_KE</key>
    <string>Taita (Kenya)</string>
    <key>gv_GB</key>
    <string>Manx (United Kingdom)</string>
    <key>pa_Arab</key>
    <string>Punjabi (Arabic)</string>
    <key>es</key>
    <string>Spanish</string>
    <key>teo_UG</key>
    <string>Teso (Uganda)</string>
    <key>ps</key>
    <string>Pashto</string>
    <key>es_PR</key>
    <string>Spanish (Puerto Rico)</string>
    <key>fr_MF</key>
    <string>French (Saint Martin)</string>
    <key>et</key>
    <string>Estonian</string>
    <key>pt</key>
    <string>Portuguese</string>
    <key>eu</key>
    <string>Basque</string>
    <key>ka</key>
    <string>Georgian</string>
    <key>rwk_TZ</key>
    <string>Rwa (Tanzania)</string>
    <key>nb_NO</key>
    <string>Norwegian Bokmål (Norway)</string>
    <key>fr_CG</key>
    <string>French (Congo - Brazzaville)</string>
    <key>cgg</key>
    <string>Chiga</string>
    <key>zh_Hant_TW</key>
    <string>Chinese (Traditional Han, Taiwan)</string>
    <key>sr_Cyrl_ME</key>
    <string>Serbian (Cyrillic, Montenegro)</string>
    <key>lag</key>
    <string>Langi</string>
    <key>ses_ML</key>
    <string>Koyraboro Senni (Mali)</string>
    <key>en_ZW</key>
    <string>English (Zimbabwe)</string>
    <key>ak_GH</key>
    <string>Akan (Ghana)</string>
    <key>vi_VN</key>
    <string>Vietnamese (Vietnam)</string>
    <key>sv_FI</key>
    <string>Swedish (Finland)</string>
    <key>to_TO</key>
    <string>Tonga (Tonga)</string>
    <key>fr_MG</key>
    <string>French (Madagascar)</string>
    <key>fr_GA</key>
    <string>French (Gabon)</string>
    <key>fr_CH</key>
    <string>French (Switzerland)</string>
    <key>de_CH</key>
    <string>German (Switzerland)</string>
    <key>es_US</key>
    <string>Spanish (United States)</string>
    <key>ki</key>
    <string>Kikuyu</string>
    <key>my_MM</key>
    <string>Burmese (Myanmar [Burma])</string>
    <key>vi</key>
    <string>Vietnamese</string>
    <key>ar_QA</key>
    <string>Arabic (Qatar)</string>
    <key>ga_IE</key>
    <string>Irish (Ireland)</string>
    <key>rwk</key>
    <string>Rwa</string>
    <key>bez</key>
    <string>Bena</string>
    <key>ee_GH</key>
    <string>Ewe (Ghana)</string>
    <key>kk</key>
    <string>Kazakh</string>
    <key>as_IN</key>
    <string>Assamese (India)</string>
    <key>ca_ES</key>
    <string>Catalan (Spain)</string>
    <key>kl</key>
    <string>Kalaallisut</string>
    <key>fr_SN</key>
    <string>French (Senegal)</string>
    <key>ne_IN</key>
    <string>Nepali (India)</string>
    <key>km</key>
    <string>Khmer</string>
    <key>ms_BN</key>
    <string>Malay (Brunei)</string>
    <key>ar_LB</key>
    <string>Arabic (Lebanon)</string>
    <key>ta_LK</key>
    <string>Tamil (Sri Lanka)</string>
    <key>kn</key>
    <string>Kannada</string>
    <key>ur_IN</key>
    <string>Urdu (India)</string>
    <key>fr_CI</key>
    <string>French (Côte d’Ivoire)</string>
    <key>ko</key>
    <string>Korean</string>
    <key>ha_Latn_NG</key>
    <string>Hausa (Latin, Nigeria)</string>
    <key>sg_CF</key>
    <string>Sango (Central African Republic)</string>
    <key>om_ET</key>
    <string>Oromo (Ethiopia)</string>
    <key>zh_Hant_MO</key>
    <string>Chinese (Traditional Han, Macau SAR China)</string>
    <key>uk_UA</key>
    <string>Ukrainian (Ukraine)</string>
    <key>fa</key>
    <string>Persian</string>
    <key>mt_MT</key>
    <string>Maltese (Malta)</string>
    <key>ki_KE</key>
    <string>Kikuyu (Kenya)</string>
    <key>luy_KE</key>
    <string>Luyia (Kenya)</string>
    <key>kw</key>
    <string>Cornish</string>
    <key>pa_Guru_IN</key>
    <string>Punjabi (Gurmukhi, India)</string>
    <key>en_IN</key>
    <string>English (India)</string>
    <key>kab</key>
    <string>Kabyle</string>
    <key>ar_IQ</key>
    <string>Arabic (Iraq)</string>
    <key>ff</key>
    <string>Fulah</string>
    <key>en_TT</key>
    <string>English (Trinidad and Tobago)</string>
    <key>bez_TZ</key>
    <string>Bena (Tanzania)</string>
    <key>es_NI</key>
    <string>Spanish (Nicaragua)</string>
    <key>uz_Arab</key>
    <string>Uzbek (Arabic)</string>
    <key>ne_NP</key>
    <string>Nepali (Nepal)</string>
    <key>fi</key>
    <string>Finnish</string>
    <key>khq</key>
    <string>Koyra Chiini</string>
    <key>gsw</key>
    <string>Swiss German</string>
    <key>zh_Hans_MO</key>
    <string>Chinese (Simplified Han, Macau SAR China)</string>
    <key>en_MH</key>
    <string>English (Marshall Islands)</string>
    <key>hu_HU</key>
    <string>Hungarian (Hungary)</string>
    <key>en_GB</key>
    <string>English (United Kingdom)</string>
    <key>fr_BE</key>
    <string>French (Belgium)</string>
    <key>de_BE</key>
    <string>German (Belgium)</string>
    <key>saq</key>
    <string>Samburu</string>
    <key>be_BY</key>
    <string>Belarusian (Belarus)</string>
    <key>sl_SI</key>
    <string>Slovenian (Slovenia)</string>
    <key>sr_Latn_RS</key>
    <string>Serbian (Latin, Serbia)</string>
    <key>fo</key>
    <string>Faroese</string>
    <key>fr</key>
    <string>French</string>
    <key>xog</key>
    <string>Soga</string>
    <key>fr_BF</key>
    <string>French (Burkina Faso)</string>
    <key>tzm</key>
    <string>Central Morocco Tamazight</string>
    <key>sk_SK</key>
    <string>Slovak (Slovakia)</string>
    <key>fr_ML</key>
    <string>French (Mali)</string>
    <key>he_IL</key>
    <string>Hebrew (Israel)</string>
    <key>ha_Latn_NE</key>
    <string>Hausa (Latin, Niger)</string>
    <key>ru_RU</key>
    <string>Russian (Russia)</string>
    <key>fr_CM</key>
    <string>French (Cameroon)</string>
    <key>teo_KE</key>
    <string>Teso (Kenya)</string>
    <key>seh_MZ</key>
    <string>Sena (Mozambique)</string>
    <key>kl_GL</key>
    <string>Kalaallisut (Greenland)</string>
    <key>fi_FI</key>
    <string>Finnish (Finland)</string>
    <key>kam</key>
    <string>Kamba</string>
    <key>es_ES</key>
    <string>Spanish (Spain)</string>
    <key>af</key>
    <string>Afrikaans</string>
    <key>asa_TZ</key>
    <string>Asu (Tanzania)</string>
    <key>cs_CZ</key>
    <string>Czech (Czech Republic)</string>
    <key>tr_TR</key>
    <string>Turkish (Turkey)</string>
    <key>es_PY</key>
    <string>Spanish (Paraguay)</string>
    <key>tzm_Latn_MA</key>
    <string>Central Morocco Tamazight (Latin, Morocco)</string>
    <key>lg</key>
    <string>Ganda</string>
    <key>ebu</key>
    <string>Embu</string>
    <key>en_HK</key>
    <string>English (Hong Kong SAR China)</string>
    <key>nl_NL</key>
    <string>Dutch (Netherlands)</string>
    <key>en_BE</key>
    <string>English (Belgium)</string>
    <key>ms_MY</key>
    <string>Malay (Malaysia)</string>
    <key>es_UY</key>
    <string>Spanish (Uruguay)</string>
    <key>ar_BH</key>
    <string>Arabic (Bahrain)</string>
    <key>kw_GB</key>
    <string>Cornish (United Kingdom)</string>
    <key>ak</key>
    <string>Akan</string>
    <key>chr</key>
    <string>Cherokee</string>
    <key>dav</key>
    <string>Taita</string>
    <key>lag_TZ</key>
    <string>Langi (Tanzania)</string>
    <key>am</key>
    <string>Amharic</string>
    <key>so_DJ</key>
    <string>Somali (Djibouti)</string>
    <key>shi_Tfng_MA</key>
    <string>Tachelhit (Tifinagh, Morocco)</string>
    <key>sr_Latn_ME</key>
    <string>Serbian (Latin, Montenegro)</string>
    <key>sn_ZW</key>
    <string>Shona (Zimbabwe)</string>
    <key>or_IN</key>
    <string>Oriya (India)</string>
    <key>ar</key>
    <string>Arabic</string>
    <key>as</key>
    <string>Assamese</string>
    <key>fr_BI</key>
    <string>French (Burundi)</string>
    <key>jmc_TZ</key>
    <string>Machame (Tanzania)</string>
    <key>chr_US</key>
    <string>Cherokee (United States)</string>
    <key>eu_ES</key>
    <string>Basque (Spain)</string>
    <key>saq_KE</key>
    <string>Samburu (Kenya)</string>
    <key>vun</key>
    <string>Vunjo</string>
    <key>lt</key>
    <string>Lithuanian</string>
    <key>naq_NA</key>
    <string>Nama (Namibia)</string>
    <key>ga</key>
    <string>Irish</string>
    <key>af_NA</key>
    <string>Afrikaans (Namibia)</string>
    <key>kea_CV</key>
    <string>Kabuverdianu (Cape Verde)</string>
    <key>es_DO</key>
    <string>Spanish (Dominican Republic)</string>
    <key>lv</key>
    <string>Latvian</string>
    <key>kok_IN</key>
    <string>Konkani (India)</string>
    <key>de_LI</key>
    <string>German (Liechtenstein)</string>
    <key>fr_BJ</key>
    <string>French (Benin)</string>
    <key>az</key>
    <string>Azerbaijani</string>
    <key>guz_KE</key>
    <string>Gusii (Kenya)</string>
    <key>rw_RW</key>
    <string>Kinyarwanda (Rwanda)</string>
    <key>mg_MG</key>
    <string>Malagasy (Madagascar)</string>
    <key>km_KH</key>
    <string>Khmer (Cambodia)</string>
    <key>gl</key>
    <string>Galician</string>
    <key>shi_Tfng</key>
    <string>Tachelhit (Tifinagh)</string>
    <key>ar_AE</key>
    <string>Arabic (United Arab Emirates)</string>
    <key>fr_MQ</key>
    <string>French (Martinique)</string>
    <key>rm</key>
    <string>Romansh</string>
    <key>sv_SE</key>
    <string>Swedish (Sweden)</string>
    <key>az_Cyrl</key>
    <string>Azerbaijani (Cyrillic)</string>
    <key>ro</key>
    <string>Romanian</string>
    <key>so_ET</key>
    <string>Somali (Ethiopia)</string>
    <key>en_ZA</key>
    <string>English (South Africa)</string>
    <key>ii_CN</key>
    <string>Sichuan Yi (China)</string>
    <key>fr_BL</key>
    <string>French (Saint Barthélemy)</string>
    <key>hi_IN</key>
    <string>Hindi (India)</string>
    <key>gu</key>
    <string>Gujarati</string>
    <key>mer_KE</key>
    <string>Meru (Kenya)</string>
    <key>nn_NO</key>
    <string>Norwegian Nynorsk (Norway)</string>
    <key>gv</key>
    <string>Manx</string>
    <key>ru</key>
    <string>Russian</string>
    <key>ar_DZ</key>
    <string>Arabic (Algeria)</string>
    <key>ar_SY</key>
    <string>Arabic (Syria)</string>
    <key>en_MP</key>
    <string>English (Northern Mariana Islands)</string>
    <key>nl_BE</key>
    <string>Dutch (Belgium)</string>
    <key>rw</key>
    <string>Kinyarwanda</string>
    <key>be</key>
    <string>Belarusian</string>
    <key>en_VI</key>
    <string>English (U.S. Virgin Islands)</string>
    <key>es_CL</key>
    <string>Spanish (Chile)</string>
    <key>bg</key>
    <string>Bulgarian</string>
    <key>mg</key>
    <string>Malagasy</string>
    <key>hy_AM</key>
    <string>Armenian (Armenia)</string>
    <key>zu_ZA</key>
    <string>Zulu (South Africa)</string>
    <key>guz</key>
    <string>Gusii</string>
    <key>mk</key>
    <string>Macedonian</string>
    <key>es_VE</key>
    <string>Spanish (Venezuela)</string>
    <key>ml</key>
    <string>Malayalam</string>
    <key>bm</key>
    <string>Bambara</string>
    <key>khq_ML</key>
    <string>Koyra Chiini (Mali)</string>
    <key>bn</key>
    <string>Bengali</string>
    <key>ps_AF</key>
    <string>Pashto (Afghanistan)</string>
    <key>so_SO</key>
    <string>Somali (Somalia)</string>
    <key>sr_Cyrl</key>
    <string>Serbian (Cyrillic)</string>
    <key>pl_PL</key>
    <string>Polish (Poland)</string>
    <key>fr_GN</key>
    <string>French (Guinea)</string>
    <key>bo</key>
    <string>Tibetan</string>
    <key>om_KE</key>
    <string>Oromo (Kenya)</string>
</dict>
</plist>
